<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/css/style.css">
    <title>Cadastrar</title>
</head>
<body>
    
  
    <section class="container">
   
        <a href="/">home</a>
        
        <div class="container-single">
            <form method="POST" class="formulario-1 center">
                <h1 class="title">Cadastre sua  aqui.</h1>
                <br>
                <div class="textos">
                    <label>
                        <span>Nome</span>
                        <input type="text" name="nome">
                    </label>
                    <label>
                        <span>Tipo</span>
                        <input type="text" name="tipo">
                    </label>

                </div>
                <div class="numeros">
                    <label>
                        <span>Tendencia</span>
                        <input type="number" name="tendencia">
                    </label>
                    <label>
                        <span>Urgencia</span>
                        <input type="number" name="urgencia">
                    </label>
                    
                    
                

                </div>
                <label>
                    <span>Descrição</span>
                    <textarea name="descricao" id="descricao"></textarea>
                    
                </label>
                
                
                <label>
                    <span>Data</span>
                    <input type="date" name="data">
                </label>


                
                
              
            
            <br>
            
            <button class="btn">Adicionar</button>
        </form>
    </div>

</section>
</body>
</html>